.left-box
{
	top: 10%;
	left: 10%;
	width : 150px;
        height:400px;
	background-color: white;
	padding: 40px;
}


.right-box
{
	margin-top: 10%;
	margin-right: 89%;
	width : 150px;
        height:400px;
	background-color: white;
	
}
